@model AdminModel
<div>
    <table class="table table-bordered table-hover table-striped dataTable">
        <thead>
            <tr>
                <th class="wpx50 center">@string.Format("STT")</th>
                <th class="wpx50 center">
                    <label>
                        <input class="group-checkable" type="checkbox">
                        <span class="text"></span>
                    </label>
                </th>
                <th class="center wpx180">@string.Format("Tên loại danh mục")</th>
                <th class="center wpx120">@string.Format("Mã")</th>
                <th class="center">@string.Format("Mô tả")</th>
                <th class="center wpx120">@string.Format("Thao tác")</th>
            </tr>
        </thead>
        <tbody>
            @if (!Equals(Model.CategoryTypes, null))
            {
                var stt = ViewBag.Paging.PageStart;
                foreach (var item in Model.CategoryTypes)
                {
                    stt++;
                    var updateLink = "/CategoryType/update";
                    var deleteLink = "/CategoryType/IsDelete";
                    var detailLink = string.Format("/Category?Type={0}",item.ID);
                    <tr>

                        <td class="center">@stt</td>
                        <td class="center">
                            <label>
                                <input data-id="@item.ID" class="checkboxes" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </td>
                        <td>
                            <a href="@detailLink"> @item.Name</a>
                        </td>
                        <td>
                            @item.Code
                        </td>
                        <td>
                           @(new HtmlString(item.Describes))
                        </td>
                        <td class="text-center">
                            <div class="btns">
                                <div class="btn-group">
                                    <ul class="important_action_btn">
                                        <li>
                                            <a class="quickUpdate" data-target=".ui-dialog:visible" data-id="@item.ID" href="@updateLink"><i aria-hidden="true" title="@string.Format("Cập nhật")" class="fa fa-pencil btn-primary"></i> <span>@string.Format("Cập nhật")</span></a>
                                        </li>
                                        <li>
                                            <a class="quickDelete" data-target=".ui-dialog:visible" data-id="@item.ID" href="@deleteLink"><i aria-hidden="true" title="@string.Format("Xóa")" cla class="fa fa-trash-o btn-danger"></i> <span>@string.Format("Xóa")</span></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="row DTTTFooter">

        @if (Model.CategoryTypes.Count <= 0)
        {
            <div class="dataTables_info col-sm-12 text-center padt10">
                <strong class="gray">
                    @string.Format("Không có loại danh mục nào phù hợp, vui lòng thử lại")
                </strong>
            </div>
        }
        else
        {
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="dataTables_info text-center" id="searchable_info" role="status" aria-live="polite">
                    <div>
                        <strong class="gray">
                            @string.Format("Có tổng số {0} loại danh mục", ViewBag.Paging.Total)
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                @ViewBag.Paging.Render("#div-CategoryTypes")
            </div>
        }
    </div>
</div>