@model OrderModel
@{
    Layout = null;
}
<form id="FrmIRV" action="@Model.Url" title="@ViewBag.Title"
      accept-charset="utf-8" enctype="multipart/form-data" class="form-horizontal form-group-sm frm-df frm-rm form-delete quickSubmit" method="POST">
    <div class="container-fluid pt-0">
        <div class="form-group form-group-title">
            <div class="col-sm-12 txtct">
                <label class="control-label title">@ViewBag.Title</label>
            </div>
        </div>
        <div class="form-group form-group-name">
            <div class="col-sm-12 txtct ">
                <label class="control-label name center" title=""><b>@ViewBag.Content</b> </label>
            </div>
        </div>
        <div class="form-group form-group-name">
            <div class="col-sm-3 txtct ">
                <label class="control-label">@string.Format("Địa điểm")</label>
            </div>
            <div class="col-sm-9 txtct ">
                @Html.CusTextArea("","PayedPlace",Model.Order.PayedPlace,"Địa điểm thanh toán","Địa điểm thanh toán",false,null, 5)
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-12 txtct">
                <p id="messeage_err" class="red"></p>
                <input type="hidden" name="ID" value="@Model.Order.ID" />
                <button class="btn @(Equals(ViewBag.PayedCss,null) ? "btn-darksuccess":ViewBag.PayedCss)  white  btn-sm" type="submit">@string.Format("Xác nhận")</button>
                <button class="btn btn-default btn-sm closeDialog" type="button">@string.Format("Hủy")</button>
            </div>
        </div>
    </div>
</form>
